/*loader css*/
#loader{
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  content: url(../images/loader.gif);
  margin: auto;
}
/*common css for loader*/
@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
#myDiv{
  display: none;
}